#dashboard {
    .customMobileRow {
        @media screen and (max-width: 576px) {
            flex-wrap: unset;
            & > * {
                &:first-child {
                    width: 50%;
                }
            }
        }
    }
    .my-custom-scrollbar {
        position: relative;
        max-height: calc(100vh - 275px);
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
}
